DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kronuhs?schema=public"
FORGOT_MAIL_URL=http://localhost:3333/password/reset?token=

#admin email
ADMIN_EMAIL= admin@email.com

#github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# aws
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_BUCKET_REGION=

disk=s3
